In [2]:
#1

sentence = input("enter the sentence:")
words = sentence.split()

unique_words = set(words)

print("unique words counts:",len(unique_words))
print("unique words:",unique_words)

enter the sentence:python is easy and python is powerful
unique words counts: 5
unique words: {'powerful', 'and', 'is', 'python', 'easy'}

In [3]:
#2

employees = {
    "ravi":75000,
    "ankita":68000,
    "kiran":72000
}
higest_earner = max(employees,key=employees.get)
higest_salary = employees[higest_earner]
print(f"higest salary:{higest_earner}-{higest_salary}")

higest salary:ravi-75000

In [6]:
#3

numbers=[45,22,89,10,66]
max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
  if num > max_val:
    max_val = num
  if num < min_val:
    min_val = num

print("List:",numbers)
print("max :",max_val)
print("min :",min_val)

List: [45, 22, 89, 10, 66]
max : 89
min : 10

In [7]:
#4

prices = [450,1200,899,1500,300]
count = 0
for price in prices:
  if price > 1000:
    count += 1
print("products above 1000:",count)

products above 1000: 2

In [8]:
#5

attendance = ["P","P","A","P","P"]
days_present = attendance.count("P")
total_days = len(attendance)
percentage = (days_present/total_days)*100
print("attendance percentage:",percentage)

attendance percentage: 80.0

In [10]:
#6

phone_numbers = [9876543210,9123456789,9876543210]
unique_numbers = set(phone_numbers)
print("unique phone numbers:",unique_numbers)

unique phone numbers: {9876543210, 9123456789}

In [15]:
#7

text ="pythonp"
char_count ={}

for char in text:
  if char in char_count:
    char_count[char] += 1
  else:
    char_count[char] =1
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [16]:
#8

my_list = [10,20,30]
my_tuple = tuple(my_list)
print("Tuple:",my_tuple)

Tuple: (10, 20, 30)

In [17]:
#9

employees ={"Raj":80000,"om":90000}
if "Raj" in employees:
  print("Employee exists")

Employee exists

In [20]:
#10

marks = [70,75,65,80]
total_marks =sum(marks)
count =len(marks)
average = total_marks/count
print("average marks:",average)

average marks: 72.5